/* Custom FrameWork Stylesheet */

.margin_4{margin: 4px;}
.margin_left_4{margin-left: 4px;}
.margin_top_4{margin-top: 4px;}
.margin_top_10{margin-top: 10px;}
.margin_bottom_4{margin-bottom: 4px;}
.margin_right_4{margin-right: 4px;}


.padding_4{padding: 4px;}
.padding_left_4{padding-left: 4px;}
.padding_top_4{padding-top: 4px;}
.padding_bottom_4{padding-bottom: 4px;}
.padding_right_4{padding-right: 4px;}

/* Color Code */
.success{
  color: #05C505;
}

.danger {
  color: #d9534f;
}
.nowrap{
  white-space: pre-line;
}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}*/

.tin-no input[type="number"]::-webkit-outer-spin-button,
.tin-no input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tin-no input[type="number"] {
    -moz-appearance: textfield;

}

.tin-no input.tin_no {
    display: inline;
    vertical-align: middle;
    width: 60px !important;
    padding: 6px 5px 5px;
    text-align: left;
    -moz-appearance: textfield;
}

.tin_no input[type="text"]{
  width: 40px;
}

.tin_no input[type="text"]:last-child{
  width: 80px;
}


/* Money Receipt StyleSheet */

.money-receipt-form .col-md-6 label:first-child{
  font-weight: bold;
}

.money-receipt-form .col-md-6 label:last-child{
  border-bottom: 1px dotted #ccc;
  width: 50%;
  padding-left: 20px;
}

.main{
  color: red !important;
  /*width: 100%;
  height: 600px;*/
}

.main2{
  color: blue !important;
}

.main3{
  color: yellow !important;
}

.display_none{
  display: none;
}

.display_block{
  display: block;
}
/* ----------------------------------------- */

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
}

.dropdown-menu {
  min-width: 105px;
}

.tiny-icon {
    margin-right: 6px;
}